## for Local Build

# Mandatory Vars

NAME='Friend'
## Yuli

PIC='sample-pic.jpeg'
## pic.jpg

# Optional Vars -- Do not add these vars to your env if you dont want to use them

NICKNAME='Buddy'
## Yu chan

HBD_MSG='May your soul rest in peace'
## May your bless you

SCROLL_MSG='sample-scroll.txt'
## scroll.txt

OPEN_DATE='2022-08-09'
## 2024-05-28
